
@font-face {
  font-family: 'chalk';
  src: url('app/assets/fonts/chalk.ttf');
}

.table-chalk{
    border-color: white;
    font-family: 'chalk';
}

.table-chalk > thead > tr > th,
.table-chalk > tbody > tr > th,
.table-chalk > tfoot > tr > th,
.table-chalk > thead > tr > td,
.table-chalk > tbody > tr > td,
.table-chalk > tfoot > tr > td {    
    text-align: center;
}

/*.table-header-chalk {
    font-size: 32px;
    border-bottom-style: solid;
    border-bottom-width: thick;
}*/

.table-chalk > thead {
    border-bottom-style: solid;
    border-bottom-width: thick;
    font-size: 48px;
}

.table-chalk tbody{
    font-size: 40px; 
    font-weight: bold;
}

tbody > tr > td,
thead > tr > th,
thead {
    border-left-style: solid;
    border-left-width: 3px;
    border-right-style: solid;
    border-right-width: 3px;
    height: 50px;
}

.table-chalk-subheader{
    font-size: 20px;
    border-top-style: solid;
    border-top-width: 3px;
    /*border-bottom-style: solid;
    border-bottom-width: 3px;*/
    /*font-color: grey; */
}