<br>
<br>

<table class="table table-responsive table-chalk">
    <thead class="table-header-chalk">
        <tr>
            <th colspan="2">Steve</th>
            <th colspan="2">Sykes</th>
            <th colspan="2">Tim</th>
        </tr>
        <tr class="table-chalk-subheader">
            <th>Score</th>
            <th>Remainig</th>
            <th>Score</th>
            <th>Remainig</th>
            <th>Score</th>
            <th>Remainig</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10</td>
            <td>291</td>
            <td>65</td>
            <td>301</td>
            <td>32</td>
            <td>301</td>
        </tr>
        <tr>
            <td>15</td>
            <td>276</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
</table>


<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Enter Score</label>
            <div class="input-group">
                <input type="number" pattern="\d*" inputmode="numeric" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Button</button>
                </span>
            </div>
        </div>
    </div>
</div>
