<br>
<div *ngIf="game">

    <h2>{{game.GameID}} - {{game.GameName}}</h2>

    <h3>Players</h3>


    <div class="row">
        <div class="col-xs-4">
            <ul>
                <li *ngFor="#playerGame of game.PlayerGames">
                    <h4 (click)="playerSelected(playerGame)">{{playerGame.Player.Username}}</h4>
                </li>
            </ul>
        </div>
        <div class="col-xs-8">
            <div *ngIf="selectedPlayerGame">
                <h1 class="text-warning">{{selectedPlayerGame.Player.Username}} at the oche</h1>
            </div>
        </div>
    </div>

<div *ngIf="isLoadingThrow">
    <h2 class="text-danger">Loading Throw...</h2>
</div>



</div>
<br>

<table class="table table-responsive table-chalk">
    <thead class="table-header-chalk">
        <tr>
            <th colspan="2">Steve</th>
            <th colspan="2">Sykes</th>
            <th colspan="2">Tim</th>
        </tr>
        <tr class="table-chalk-subheader">
            <th>Score</th>
            <th>Remainig</th>
            <th>Score</th>
            <th>Remainig</th>
            <th>Score</th>
            <th>Remainig</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10</td>
            <td>291</td>
            <td>65</td>
            <td>301</td>
            <td>32</td>
            <td>301</td>
        </tr>
        <tr>
            <td>15</td>
            <td>276</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
</table>


<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Enter Score</label>
            <div class="input-group">
                <input type="number" pattern="\d*" inputmode="numeric" class="form-control" [(ngModel)]="currentScore">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="submitThrow()">Button</button>
                </span>
            </div>
        </div>
    </div>
</div>