<div class="row">
    <div class="col-sm-5">
        <ul class="list-group">
            <li 
            *ngFor="#lobbyplayer of lobbyPlayers" 
            (click)="pickPlayer(lobbyplayer)"
            class="list-group-item">
                {{lobbyplayer.Username}}
                <span class="badge"><i class="fa fa-arrow-right"></i></span>
            </li>
        </ul>
    </div>

    <div class="col-sm-2">

    </div>
    <div class="col-sm-5">
        <ul class="list-group">
            <li *ngFor="#player of selectedPlayers" class="list-group-item">
                {{player.Username}}
                <span class="badge">2</span>
            </li>
        </ul>
    </div>
</div>


