.brand-logo{
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -7px;
}


body { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}